@model EducacionAvanzada.BL.Alumno

@{
    ViewBag.Title = "Notas Por Alumno";
}


    


      <div>
          <div>
              <h2>NOTAS DEL ALUMNO</h2>
          </div>
        <table class="table table-hover table-bordered table-info ">

            <tr>
                
                <td><h5>Materia</h5></td>
                <td><h5>Parcial I</h5></td>
                <td><h5>Parcial II</h5></td>
                <td><h5>Parcial III</h5></td>
                <td><h5>Parcial IV</h5></td>
                <td><h5>Nota Final</h5></td>
                <!--
                <td><h3>@Html.ActionLink("Regresar", "Index", "Alumnos", new { id = Model.PadreId }, null)</h3></td>    
                -->
               
                <td>
                    <div class="form-group">
                        <a href="/Alumnos/Index/@ViewBag.Padre"><input type="submit" value="REGRESAR" class="btn btn-secondary py-2 px-2"></a>
                    </div>
                </td>
                
                    
                

            </tr>
            

            @foreach (var alumno in Model.ListadeNotas)
            {
                <tr>
                    <td><h5>@alumno.Materia.Descripcion</h5></td>
                    <td><h5>@alumno.PrimerParcial</h5></td>
                    <td><h5>@alumno.SegundoParcial</h5></td>
                    <td><h5>@alumno.TercerParcial</h5></td>
                    <td><h5>@alumno.CuartoParcial</h5></td>
                    <td><h5>@alumno.NotaFinal</h5></td>
                </tr>

            }

            
        </table>

    </div>
