@model EducacionAvanzada.BL.GradoDetalle

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Estás Seguro que Quieres Eliminar este Registro?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profesor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesor.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grado.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seccion.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jornada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jornada.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.ProfesorId)
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a Grados Impartidos", "Index", "GradoDetalle", new { profesorId = Model.ProfesorId}, null)
        </div>
    }
</div>
