@model IEnumerable<EducacionAvanzada.BL.Padre>

@{
    ViewBag.Title = "Padres";
}

<h2>Padres</h2>

<p>
    @Html.ActionLink("Nuevo Padre", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Usuario
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
